<template lang="pug">
    .container
        .search(style="width: 500px;margin: 10px auto;")
            a-input(v-model='search' placeholder="Поиск")
        .btable(style="overflow-x:auto;width:100%;")
            a-table(
                :columns="columns"
                :rowKey="record => record._id"       
                :dataSource="filteredContracts"
                :pagination="false"
                :min-width="1000"
            )
                template(slot="name") 

        //- table
            tr
                th(v-for="(th, index) in ths" :key="index") {{th.text}}
            tr(v-for="(contract, index) in contracts" :key="contracts._id")
                td {{index+1}}
                td {{contract.car_name}}
                td {{contract.car_num}}
                td {{contract.year}}
                td {{contract.purchase_day}}
                td {{contract.buy_price}}
                td {{contract.not_cost}}
                td {{contract.gay_cost}}
                td {{contract.other_cost}}
                td {{contract.gps_cost}}
                td {{contract.middle}}
                td {{contract.total}}
                td {{contract.surname}} {{contract.name}} {{contract.fname}} 
                td {{contract.phone}}
                td {{contract.ser}}{{contract.num}} {{contract.whenissued}} {{contract.whoissued}}
                td {{contract.mark}}
                td {{contract.initial_sum}}
                td {{contract.coef}}
                td {{contract.remain}}
                td {{contract.period}}
                td(v-if="contract.pay") {{contract.pay.toFixed(2)}}
                td {{contract.owner}}
                td {{contract.start_day}}
                td {{parseInt(contract.balance)}}
                td {{contract.remain - contract.balance}}
                td {{parseInt(contract.balance/contract.pay)}}
                td {{new Date(new Date(new Date().setMonth(new Date().getMonth()+1)).setDate(new Date(contract.start_day).getDate())).toLocaleString()}}
                td {{contract.balance}}
                
</template>
<script>
export default {
    data() {
        return {
            search: '',
            ths: [
                {text:'№'},
                {text:'Модель авто'},
                {text:'Гос номер'},
                {text:'Год выпуска'}, 
                {text:'Дата покупки'},
                {text:'Стоимость авто'},
                {text:'Нотариальные расходы'},
                {text:'Расходы в ГАИ'},
                {text:'Прочие'},
                {text:'Установка GPS'},
                {text:'Доля посредников'},	{text:'Итого стоимость'}, {text:'ФИО покупателя'},{text:'Контакты'},{text:'Паспортные данные'},{text:'Сумма оценки'},{text:'Первоначальный взнос'},{text:'Коэффициент'},{text:'Остаток суммы'},{text:'Срок рассрочки (месяц)'},{text:'Ежемесячная выплата'},	
                {text:'Владелец'},	{text:'Начало оплат'},	{text:'Погашенная сумма'},	{text:'Остаток'},	{text:'Погашено месяцев'},	{text:'Дата следующей оплаты'},{text:'Баланс'}
            ],
            keys: [
                'index',
                'car_name',
                'car_num',
                'year',
                'purchase_day',
                'buy_price',
                'not_cost',
                'gay_cost',
                'other_cost',
                'gps_cost',
                'middle',
                'total',
                'name',  
                'phone',
                'ser',
                // 'num', 'whenissued', 'whoissued',
                'mark',
                'initial_sum',
                'coef',
                'remain',
                'period',
                'pay',
                'owner',
                'start_day',
                'balance',
                'balance2',
                'balance3',
                'next_month',
                'balance4',
            ],
            contracts: [],
            columns: [],
        }
    },
    computed: {
        filteredContracts(){
            if(!this.search) return this.contracts;
            else {
                return this.contracts.filter(item => {
                    let regex = new RegExp(this.search,"g");
                    return item.car_num.match(regex) || item.car_name.match(regex) 
                    || item.name.match(regex) || item.surname.match(regex);
                    // return item.car_num.includes(this.search) || item.car_name.includes(this.search)
                })
            }
        }
    },
    methods: {
        async getContracts(){
            let {data}     = await this.axios.get(this.$url+'/get/big-table');
            this.contracts = data;
            console.log(data);
            this.contracts.map((contract, index) => {
                contract.index = index+1;
                contract.balance2 = contract.remain - contract.balance;
                contract.balance3 = parseInt(contract.balance/contract.pay);
                contract.balance4 = parseInt(contract.balance);
                contract.next_month = new Date(new Date(new Date().setMonth(new Date().getMonth()+1)).setDate(new Date(contract.start_day).getDate())).toLocaleString();
                if(contract.auto[0]) {
                    Object.keys(contract.auto[0]).map(key => {contract[key] = contract.auto[0][key]})
                }
                if(contract.driver[0]) {
                    Object.keys(contract.driver[0]).map(key => {contract[key] = contract.driver[0][key]})
                }
                console.log(contract.driver)
            });
            this.keys.map((key, index) => {
                this.columns.push({
                title: this.ths[index].text,
                dataIndex: key,
                sorter: true,
                sorter: (a, b) => {
                    if(typeof a[key] === 'string'){
                        if (a[key] < b[key] ){
                            return -1;
                        }
                        if (a[key] > b[key] ){
                            return 1;
                        }
                        return 0;
                    } else {
                        return b[key] - a[key]
                    }
                }, 
                scopedSlots: { customRender: key },
                })
            })
        }
    },
    mounted(){
        this.getContracts()
    }
}
</script>
<style scoped>
.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th { 
    padding:20px;
    border:1px solid black!important; 
}
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>