<template lang="pug">
    div
        .search(style="width: 500px;margin: 10px auto;")
            a-input(v-model='search' placeholder="Поиск")
        br
        a-modal(:title="modalTitle"
            :visible="visible"
            @ok="postCars"
            :confirmLoading="confirmLoading"
            @cancel="visible=false;"
        )   
            .form
                a-select(
                @change="markSelect"
                v-model="formData.mark"
                style="width: 200px"
                placeholder='Марка'
                )
                    a-select-option(v-for="(mark, index) in marks" :key="mark._id" :value="mark._id") {{mark.text}}
                a-select(
                @change="modelSelect"
                v-model="formData.model"
                style="width: 200px"
                placeholder='Модель'
                )
                    a-select-option(v-for="(model, index) in models" :key="model._id" :value="model._id") {{model.text}}
                br
                br
                a-collapse(:bordered="false")
                    template(v-slot:expandIcon="props")
                        a-icon(type="caret-right" :rotate="props.isActive ? 90 : 0")
                    a-collapse-panel(header="Добавить Марку" key="1")
                        a-input-group
                            a-input.input(placeholder="Марка", v-model="newMark")
                            a-button(@click="addMark" :loading="confirmLoading") Сохранить
                    a-collapse-panel(header="Добавить Модель" key="2")
                        a-input.input(placeholder="Модель", v-model="newModel")
                        a-button(@click="addModel" :loading="confirmLoading") Сохранить
                br
                a-radio-group(v-model="formData.private")
                    a-radio-button(:value="true" checked) Частный
                    a-radio-button(:value="false") Гос
                br
                br
                a-select(
                    v-model="formData.status"
                    style="width: 200px"
                    placeholder='Статус'
                )
                    a-select-option(v-for="(status, index) in statuses" :key="status.value" :value="status.value") {{status.text}}
                a-input-group(v-if="!formData.private",style="display:grid;grid-template-columns:1fr 1fr 1fr;")
                    a-input.input(placeholder="Код региона", maxlength = "2", oninput="this.value=this.value.replace(/[^0-9]/g,'');" v-model="formData.region_code")
                    a-input.input(placeholder="Номер",oninput="this.value=this.value.replace(/[^0-9]/g,'');", v-model="formData.num",maxlength=3)
                    a-input.input(placeholder="Серия", v-model="formData.ser", maxlength = "3")
                a-input-group(v-else, style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr;")
                    a-input.input(placeholder="Код региона", maxlength = "2", oninput="this.value=this.value.replace(/[^0-9]/g,'');" v-model="formData.region_code")
                    a-input.input(placeholder="Серия 1", v-model="formData.ser1", maxlength=1 oninput="this.value=this.value.replace(/[^a-zA-Z]/g,'');")
                    a-input.input(placeholder="Номер",oninput="this.value=this.value.replace(/[^0-9]/g,'');", v-model="formData.num",maxlength=3)
                    a-input.input(placeholder="Серия 2", v-model="formData.ser2", maxlength=2 oninput="this.value=this.value.replace(/[^a-zA-Z]/g,'');")
                br

                a-input.input(placeholder="Год производства", v-model="formData.year")
                a-input.input(placeholder="Номер двигателя", v-model="formData.engine_num")
                a-input.input(placeholder="Номер кузова", v-model="formData.body_num")
                a-input.input(placeholder="Номер тех паспорта", v-model="formData.tech_num")
                a-input.input(placeholder="Владелец авто", v-model="formData.owner")
                a-input.input(placeholder="Дата покупки", type="data", v-model="formData.purchase_day")
                span Цена покупки
                a-input.input(type="number", v-model="formData.buy_price")
                span Нотариальные расходы
                a-input.input(type="number",v-model="formData.not_cost")
                span Расходы ГАИ
                a-input.input(type="number",v-model="formData.gay_cost")
                span Расходы на ремонт
                a-input-group
                    a-input.input(type="number",style="width:50%" inline, v-model="formData.repair_cost")
                    a-input.input(placeholder="Комментарии", style="width:50%" v-model="formData.cost_comment")
                br
                span Комиссия посредников
                a-input-group
                    a-input.input(type="number", style="width:50%" inline, v-model="formData.comission")
                    a-input.input(placeholder="Комментарии",  style="width:50%" v-model="formData.comission_comment")
                br
                span Расходы GPS
                a-input.input(type="number", v-model="formData.gps_cost")
                span Прочие расходы
                a-input-group
                    a-input.input(type="number", style="width:50%" inline, v-model="formData.other_cost")
                    a-input.input(placeholder="Комментарии", inline, style="width:50%" v-model="formData.other_comment")
                br
                span Посредник
                a-input-group
                    a-input.input(type="number", style="width:50%" inline, v-model="formData.middle")
                    a-input.input(placeholder="Комментарии", inline, style="width:50%" v-model="formData.middle_comment")
                br
                span Итого: 
                    b {{total}}
        a-button(type="primary" @click="visible=true;edit=false") Новый автомобиль
        br 
        br 
        span
            table#desc(style="width:100%;min-width: 1000px;")
                tr 
                    th(v-for="(th, index) in ths" :key="index+4533") {{th}}
                tr(v-for="car in cars" :key="car._id")
                    td {{car.mark}}
                    td {{car.model}}
                    td {{car.year}}
                    td 
                        span(v-if="car.ser") {{car.region_code}} {{car.ser}} {{car.num}} 
                        span(v-else) {{car.region_code}} {{car.ser1}} {{car.num}} {{car.ser2}}
                    td: span(v-if="car.status") {{statuses[car.status].text}}
                    td {{car.engine_num}}
                    td {{car.body_num}}
                    td {{car.tech_num}}
                    td {{car.owner}}
                    td {{car.purchase_day}}
                    td {{car.buy_price}}
                    td {{car.not_cost}}
                    td {{car.gay_cost}}
                    td {{car.repair_cost}}
                    td {{car.cost_comment}}
                    td {{car.comission}}
                    td {{car.comission_comment}}
                    td {{car.gps_cost}}
                    td {{car.other_cost}}
                    td {{car.other_comment}}
                    td {{car.middle}}
                    td {{car.total}}
                    td: a-button(@click="visible=true;edit=true;formData = car" v-if="user.admin") Изменить
                    td: a-button(type="danger" @click="deleteCar(car._id)" v-if="user.admin") Удалить
</template>
<script>
export default {
    data(){
        return {
            edit: false,
            user: JSON.parse(localStorage.getItem('user')),
            formData:{
                private: true,
                gay_cost:0,
                not_cost:0,
                other_cost:0,
                buy_price:0,
                middle:0,
                comission:0,
                repair_cost:0,
                gps_cost:0,
            },
            newModel: '',
            newMark: '',
            cars: [],
            confirmLoading: false,
            visible: false,
            search: '',
            ths:[
                "Марка",
                "Модель",
                "Год производства",
                " Номер",
                " Статус",
                " Номер двигателя",
                " Номер Кузова",
                " Номер Тех паспорта",
                " Владелец авто",
                " Дата покупки",
                " Цена покупки",
                " Нотариальные расходы",
                " Расходы ГАИ",
                " Расходы на ремонт",
                " Коммент",
                " Коммисия посредников",
                " Коммент",
                " Расходы GPS",
                " Прочие расходы",
                " Коммент",
                " Посредник",
                " ИТОГО",
                " ",
                " ",
            ],
            models: [
            ],
            marks: [
            ],
            statuses: [
                {text: 'Сводбоден', value: 0},
                {text: 'Занят', value: 1},
            ]
        }
    },
    computed:{
        filteredCars(){
            if(!this.search) return this.cars;
            else {
                return this.cars.filter(item => {
                    let regex = new RegExp(this.search,"gi");
                    return item.num.match(regex) || item.model.match(regex) || item.mark.match(regex) 
                    || item.client_name.match(regex);
                })
            }
        },
        modalTitle(){
            if(this.edit) {
                return 'Изменить'
            } else {
                return 'Новая машина'
            } 
        },
        total(){
            let f = this.formData;
            this.formData.total = parseFloat(f.repair_cost)+parseFloat(f.gay_cost)+
            parseFloat(f.buy_price)+parseFloat(f.comission)+parseFloat(f.other_cost)+parseFloat(f.not_cost)+parseFloat(f.middle)+
            parseFloat(f.gps_cost)
            return parseFloat(this.formData.total);
        }
    },
    methods: {
        modelSelect(value) {
            this.models.map(item => {
                if(item._id == value) this.formData.model = item.text
            })
        },
        markSelect(value) {
            this.marks.map(item => {
                if(item._id == value) this.formData.mark = item.text
            })
        },
        async addMark(){
            try {
                let create = true;
                this.marks.map(item => {
                    if(item.text === this.newMark) create = false
                })
                if(create){
                    this.confirmLoading = true;
                    let res = await this.axios.post(this.$url+'/post/mark/', {
                        text: this.newMark
                    });
                    // console.log(res)
                    this.getMarks();
                    this.confirmLoading = false;
                }
            } catch (err) {
                throw err;
            }
        },
        async addModel(){
            try {
                let create = true;
                this.models.map(item => {
                    if(item.text === this.newModel) create = false
                })
                if(create){
                    this.confirmLoading = true;
                    let res = await this.axios.post(this.$url+'/post/model/', {
                        value: this.newModel,
                        text: this.newModel
                    });
                    console.log(res)
                    this.getModels();
                    this.confirmLoading = false;
                }
            } catch (err) {
                throw err;
            }
        },
        async getCars (){
            try {
                let res = await this.axios.get(this.$url+'/get/cars');
                this.cars = res.data;
            } catch (err){
                throw err;
            }
        },
        async getModels (){
            try {
                let res = await this.axios.get(this.$url+'/get/models');
                this.models = res.data;
                console.log(res.data)
            } catch (err){
                throw err;
            }
        },
        async getMarks (){
            try {
                let res = await this.axios.get(this.$url+'/get/marks');
                this.marks = res.data;
            } catch (err){
                throw err;
            }
        },
        async editCar(){
            try {
                let res = await this.axios.post(this.$url+'/edit/car/'+this.formData._id, this.formData);
                this.visible = false;
                this.confirmLoading = false;
                this.getCars();
                this.formData = {}
            } catch (err){
                throw err;
            }
        },
        async deleteCar(id){
            try {
                let res = await this.axios.post(this.$url+'/delete/car/'+id);
                this.getCars();
            } catch (err){
                throw err;
            }
        },
        async postCars(){
            try { 
                this.confirmLoading = true;
                if(this.edit){
                    this.editCar()
                    return
                }
                let res = await this.axios.post(this.$url+'/post/car', this.formData);
                this.visible = false;
                console.log(res.data)
                this.getCars();
                this.formData = {}
                this.confirmLoading = false;
            } catch (err){
                throw err;
            }
        }
    },
    mounted() {
        this.getCars();
        this.getModels();
        this.getMarks();
    }
}
</script>
<style scoped>
.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>