<template lang="pug">
    div(style="overflow-x:auto;width:100%;")
        br
        .search(style="width: 500px;margin: 10px auto;")
            a-input(v-model='search' placeholder="Поиск")
        a-modal(
            :title="modalTitle"
            :visible="visible"
            @ok="postCars"
            :confirmLoading="confirmLoading"
            @cancel="visible=false"
        )
            .form
              a-input.input(placeholder="Фамилия", v-model="formData.surname")
              a-input.input(placeholder="Имя", v-model="formData.name")
              a-input.input(placeholder="Отчество", v-model="formData.fname")
              span Дата рождения
              a-input.input(placeholder="Дата рождения",type="date" v-model="formData.birthdate")
            span Паспортные данные
              a-input.input(placeholder="Серия", v-model="formData.ser")
              a-input.input(placeholder="Номер", v-model="formData.num")
              a-input.input(placeholder="Кем выдан", v-model="formData.whoissued")
              a-input.input(placeholder="Когда выдан", v-model="formData.whenissued")
              a-input.input(placeholder="Адрес прописки", v-model="formData.address")
              a-input.input(placeholder="Адрес фактического проживания", v-model="formData.real_address")
              a-input.input(placeholder="Телефон", v-model="formData.phone")
        a-button(type="primary" @click="visible=true;edit=false") Новый клиент
        br  
        br
        div(style="overflow-x:auto;width:100%;")
            table#desc(style="width:100%;min-width: 1000px;")
                tr 
                    th(v-for="(th, index) in ths" :key="index", style="") {{th}}
                tr(v-for="client in clients" :key="client._id")
                    td {{client.surname}}
                    td {{client.name}}
                    td {{client.fname}}
                    td {{client.birthdate}}
                    td {{client.ser}}
                    td {{client.num}}
                    td {{client.whoissued}}
                    td {{client.whenissued}}
                    td {{client.address}}
                    td {{client.real_address}}
                    td {{client.phone}}
                    td: a-button(@click="formData = client;edit=true;visible=true" v-if="user.admin") Изменить
                    td: a-button(type="danger" @click="deleteClient(client._id)" v-if="user.admin") Удалить
</template>
<script>


export default {
    data(){
        return {
            formData:{},
            clients: [],
            search: '',
            edit: false,
            user: JSON.parse(localStorage.getItem('user')),
            confirmLoading: false,
            visible: false,
            ths:[
                "Фамилия",
                "Имя",
                "Отчество",
                "Дата рождения",
                "Серия",
                "Номер",
                "Кем выдан",
                "Когда выдан",
                "Адрес прописки",
                "Адрес фактического проживания",
                "Телефоны",
                " ",
                " "
            ],
        }
    },
    computed: {
        filteredClients(){
            if(!this.search) return this.clients;
            else {
                return this.clients.filter(item => {
                    let regex = new RegExp(this.search,"gi");
                    return item.fname.match(regex) || item.surname.match(regex) || item.name.match(regex) 
                    || item.phone.match(regex);
                })
            }
        },
        modalTitle(){
            if(!this.edit){
                return 'Новый клиент'
            } else {
                return 'Изменить'
            };
        }
    },
    methods: {
        async editCar(){
            let res = await this.axios.post(this.$url+'/edit/client/'+this.formData._id, this.formData);
            this.getCars();
            this.visible = false
            this.confirmLoading = true
            this.edit = false;
            this.formData = {}
        },
        async deleteClient(id){
            try{ 
                let res = await this.axios.post(this.$url+'/delete/client/'+id);
                this.getCars();
                console.log(res.data)
            } catch (err){
                throw err;
            }
        },
        async getCars (){
            let res = await this.axios.get(this.$url+'/get/clients');
            this.clients = res.data;
            console.log(res.data)
        },
        async postCars(){
          this.confirmLoading = true
          if(this.edit){
              this.editCar()
              return;
          }
          let res = await this.axios.post(this.$url+'/post/client', this.formData);
            console.log(res.data)
            this.visible = false
            this.confirmLoading = false
            this.getCars();
            this.formData={}

        }
    },
    mounted(){
        this.getCars()
    }
}
</script>
<style scoped>
.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>