<template lang="pug">
    .container(v-if="contract") 
        br
        router-link(to="/contracts")
            a-button(type="link") Назад
        br
        .big-grid
            .g-0
                table
                    tr  
                        th(colspan="2"): center Данные авто
                    tr(v-for="(item, index) in car_ths" :key="index")
                        td {{item}}
                        td(v-if="index==0 && contract[0].cars[0]") {{contract[0].cars[0].model}}
                        td(v-if="index==1") {{contract[0].car_num}}
                        td(v-if="index==2 && contract[0].cars[0]") {{contract[0].cars[0].year}}
                        td(v-if="index==3") {{contract[0].client_name}}
                        td(v-if="index==4") {{contract[0].sum}}
                        td(v-if="index==5") {{contract[0].period}}
                        td(v-if="index==6") {{contract[0].pay.toFixed(2)}}
                        td(v-if="index==7 && contract[0].cars[0]") {{contract[0].cars[0].owner}}
                br
                table
                    tr(v-for="(item, index) in info_ths" :key="index")
                        td {{item}}
                        td(v-if="index==0 && contract[0].cars[0]") {{contract[0].cars[0].buy_price}}
                        td(v-if="index==1") {{contract[0].file}}
                        td(v-if="index==2 && contract[0].cars[0]") {{contract[0].cars[0].not_cost}}
                        td(v-if="index==3 && contract[0].cars[0]") {{contract[0].cars[0].gay_cost}}
                        td(v-if="index==4 && contract[0].cars[0]") {{contract[0].cars[0].other_cost}}
                        td(v-if="index==5 && contract[0].cars[0]") {{contract[0].cars[0].middle}}
                        td(v-if="index==6 && contract[0].cars[0]") {{contract[0].cars[0].total}}
                        td(v-if="index==7") {{contract[0].initial_sum}}
                        td(v-if="index==8") {{contract[0].file}}
                br
            .g-1    
                table
                    tr
                        th(colspan="4" style="text-align:center") График погашения
                    tr
                        th(v-for="(th, index) in ths" :key="index") {{th}}
                    tr(v-for="(payment, ind) in contract[0].trs" :key="payment._id")
                        td {{ind+1}}
                        td {{new Date(payment.date).toLocaleString()}}
                        //- td {{contract[0].car_name}}
                        td {{new Date(payment.pay_date).toLocaleString()}}
                        //- td {{contract[0].client_name}}
                        td {{payment.sum}}
                        //- td 
                            //- a-tooltip {{payment.sum.toFixed(2)}} 
                            //-     template(slot="title") 
                            //-         ul 
                            //-             li(v-for="tr in payment.transactions" :key="tr") {{getSum(tr)}}

</template>
<script>
export default {
    data() {
        return { 
            contract: null,
            ths:[
                '№',
                'Дата Записи',
                'Дата оплаты',
                // 'Номер авто',
                'Сумма оплаты',
            ],
            car_ths: [
                'Модель Авто',
                'Гос номер',
                'Год выпуска',
                'ФИО клиента',
                'Сумма продажи',
                'Сумма рассрочки (месяц)',
                'Ежемеясчная выплата',
                'Владелец авто',
            ],
            info_ths: [
                'Цена покупки',
                'Вложения',
                'Нотариальные расходы',
                'Расходы ГАИ',
                'Прочие расходы',
                'Расходы посредникам ',
                'ИТОГО расходов',
                'Первоначальный взнос',
                'Итого вложения',
            ]
        }
    },
    methods: {
        getSum(id){
            let sum = {}
            if(this.contract){
                this.contract[0].trs.map(item => {
                    if(item._id == id) sum = item
                })
            }
            return `${new Date(sum.date).toLocaleString()} - ${sum.sum}`
        },
        async getContract (){
            try {
                let {data} = await this.axios.get(this.$url+'/get/contract/'+this.$route.params.id);
                this.contract = data;
                console.log(this.contract)
                this.contract[0].payments.reverse()
                this.contract[0].trs.reverse()
            } catch(err){
                throw err;
            }
        }
    },
    mounted() {
        this.getContract()
    }
}
</script>
<style scoped>
table {
    margin: 0 auto;
}
.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
.big-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}
</style>