<template lang="pug">
    div
        .search(style="width: 500px;margin: 10px auto;")
            a-input(v-model='search' placeholder="Поиск")
        a-modal(:title="modalTitle"
            :visible="visible"
            @ok="postContract"
            :confirmLoading="confirmLoading"
            @cancel="visible=false"
        )
            .form
                a-select(
                showSearch
                optionFilterProp="children"
                defaultValue="Выберите клиента"
                :filterOption="filterOption"
                style="width: 200px"
                @change="selectClient")
                    a-select-option(v-for="client in clients" :key="client._id") {{client.name}} {{client.surname}}
                br
                br 
                a-select(
                showSearch
                    defaultValue="Выберите авто"
                    style="width: 200px"
                    :filterOption="filterOption"
                    optionFilterProp="children"
                    @change="selectCar")
                    a-select-option(v-for="car in cars" :key="car._id")
                        template(v-if="car.ser") {{car.region_code}} {{car.ser}} {{car.num}}
                        template(v-else) {{car.region_code}} {{car.ser1}} {{car.num}} {{car.ser2}}
                br
                br
                a-input.input(placeholder="Цена продажи", type="number" v-model="formData.price")
                a-input.input(placeholder="Первоначальный взнос", type="number" v-model="formData.initial_sum")
                a-input.input(placeholder="Коэффициент",type="number" v-model="formData.coef")
                a-input.input(placeholder="Срок рассрочки",type="number" v-model="formData.period")
                a-input.input(placeholder="Начало даты оплаты",type="date" v-model="formData.start_day")
                br
                span Вложение: 
                    b {{diff}}
                br
                span Сумма продажи: 
                    b(v-if="formData.initial_sum && formData.coef")  {{(diff)*formData.coef + parseFloat(formData.initial_sum)}}
                br
                span Остаток суммы: 
                    b(v-if="formData.coef") {{(diff)*formData.coef}}
                br
                span Ежемесячная выплата: 
                    b(v-if="formData.period") {{ parseFloat(diff*formData.coef/formData.period)}}
                br
        a-button(type="primary" @click="visible=true") Новый контракт
        br 
        br
        div(style="overflow-x:auto;width:100%;")
            table#desc(style="width:100%;min-width: 1000px;")
                tr 
                    th(v-for="(th, index) in ths" :key="index", style="") {{th}}
                tr(v-for="contract in filteredContracts" :key="contract._id" )
                    router-link(tag="td" :to="'/contract/'+contract._id") {{contract.client_name}}
                    td {{contract.car_name}} {{contract.car_num}}
                    td {{contract.price}}
                    td {{contract.initial_sum}}
                    td {{contract.file}}
                    td {{contract.coef}}
                    td {{contract.sum}}
                    td {{contract.remain}}
                    td {{contract.period}}
                    td(v-if="contract.pay") {{contract.pay.toFixed(2)}}
                    td {{contract.start_day}}
                    td: a-button(@click="visible=true;formData=contract;edit=true" v-if="user.admin") Изменить
                    td: a-button(type="danger" @click="deleteContract(contract._id)" v-if="user.admin") Удалить
</template>
<script>


export default {
    data(){
        return {
            edit: false,
            formData:{},
            user: JSON.parse(localStorage.getItem('user')),
            contracts: [],
            cars: [],
            search: "",
            clients: [],
            confirmLoading: false,
            visible: false,
            ths:[
                "Клиент",
                "Авто",
                "Цена продажи",
                "Первоначальный взнос",
                "Вложения",
                "Коэффициент",
                "Сумма продажи",
                "Остаток суммы",
                "Срок рассрочки",
                "Ежемесечная выплата",
                "Начало даты оплат",
                "",
                "",
            ],
            marks: [
            ],
        }
    },
    computed: {
        filteredContracts(){
            if(!this.search) return this.contracts;
            else {
                return this.contracts.filter(item => {
                    let regex = new RegExp(this.search,"gi");
                    return item.car_num.match(regex) || item.car_name.match(regex)
                    || item.client_name.match(regex);
                });
            }
        },
        diff() {
            if(this.formData.price && this.formData.initial_sum) return parseFloat(this.formData.price) - parseFloat(this.formData.initial_sum)
            else return 0
        },
        modalTitle() {
            if(this.edit) return 'Изменить'
            else return 'Новый договор'
        }
    },
    methods: {
        filterOption(input, option) {
           return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
        },
        selectClient(value) {
            this.clients.map(async item => {
                if(item._id == value) this.formData.client_name = item.surname+ ' ' +item.name;
            })
          this.formData.client = value;
        },
        selectCar(value) {
            this.cars.map(async item => {
                if(item._id == value){
                    this.formData.car_name = item.mark+' '+item.model;
                    if(item.ser){
                        this.formData.car_num = item.region_code+' '+item.ser+' '+item.num;
                    } 
                    else {
                        this.formData.car_num = item.region_code+' '+item.ser1+' '+item.num+' '+item.ser2;
                    }
                } 
            })
          this.formData.car = value;
        },
        async getCars (){
            let res = await this.axios.get(this.$url+'/get/cars');
            console.log(res.data)
            this.cars = res.data;
        },
        async getClients (){
            let res = await this.axios.get(this.$url+'/get/clients');
            this.clients = res.data;
        },
        async getContracts (){
            let res = await this.axios.get(this.$url+'/get/contracts');
            this.contracts = res.data;
        },
        async postContract(){
            if(this.edit) {
                this.editContract()
                return;
                }
            this.confirmLoading  = true
            this.formData.file   = this.diff;
            this.formData.sum    = this.diff*this.formData.coef + parseFloat(this.formData.initial_sum);
            this.formData.remain = this.diff*this.formData.coef;
            this.formData.pay = parseFloat(this.diff*this.formData.coef/this.formData.period);
            let res = await this.axios.post(this.$url+'/post/contract', this.formData);
            console.log(res.data)
            this.visible = false
            this.confirmLoading = false
            this.getContracts();
        },
        async editContract(){
          this.confirmLoading = true
          this.formData.file = this.diff;
          this.formData.sum = this.diff*this.formData.coef + parseFloat(this.formData.initial_sum);
          this.formData.remain = this.diff*this.formData.coef;
          this.formData.pay = parseFloat(this.diff*this.formData.coef/this.formData.period);

          let res = await this.axios.post(this.$url+'/edit/contract/'+this.formData._id, this.formData);
            console.log(res.data)
            this.visible = false
            this.edit = false
            this.formData = {}
            alert('Изменено') 
            this.confirmLoading = false
            this.getContracts();
        },
        async deleteContract(id){
          let res = await this.axios.post(this.$url+'/delete/contract/'+id);
          this.getContracts()
        } 
    },
    mounted(){
        this.getCars()
        this.getClients()
        this.getContracts()
    }
}
</script>
<style scoped>

.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>