<template>
  <div style="padding: 40px; max-width: 700px; margin: 0 auto;">
      <h2>Вход</h2>
      <a-input placeholder="Логин" v-model="form.email" /><br><br>
      <a-input placeholder="Пароль" v-model="form.password"  type="password"/>
      <br><br>
      <a-button type="primary" :loading="loading" @click="login">Войти </a-button>
  </div>
</template>
<script>
export default {
  data () {
    return {
      loading: false,
      form: {
        email: '',
        password: '',
        loading: true
      }
    }
  },
  methods: {
    passwordValidate(){
      if(this.form.password.length < 8){
        return false
      }  else return true
    },
     async login(){
      if(this.form.password.length > 1 && this.form.email.length > 1){
        this.loading = true;
        let uri = this.$url+"/login";
        try {
          let res = await this.axios.post(uri, {login: this.form.email, passw: this.form.password})
          console.log(res);
          if(res.data.user){
          localStorage.setItem('auth', res.data.token);
          localStorage.setItem('user', JSON.stringify(res.data.user));
          this.$router.push('/cars');
          }
        } 
        catch (err) {
        this.loading = false;
          console.log(err);
          alert('Произошла ошибка!');
        }
      } else alert("Введите логин и пароль")
    }
  }
}
</script>