<template lang="pug">
    div
        br
        span
            table(border="1")
                tr
                    th(v-for="th in ths" :key="th") {{th}}
                    th(v-for="th in maxContractsLength" :key="th") {{th}} 
                template(v-for="(row, index) in rows")
                    tr
                        tr
                            td(rowspan="2") {{index+1}}
                            td(rowspan="2") {{row.client_name}}
                            td(rowspan="2") {{row.car_name}}
                            td(rowspan="2") {{row.car_num}}
                            td(rowspan="2") {{row.pay.toFixed(2)}}
                            td(v-for="item in maxContractsLength" :key="item") {{new Date(new Date(new Date(row.start_day).getTime()+(m_period*(item-1))).setDate(new Date(row.start_day).getDate())).toLocaleString('ru-RU',{dateStyle: 'short'})}}
                        tr
                            td(v-for="item in row.payments" :key="item._id") {{new Date(item.last_time).toLocaleString()}} | {{item.sum}}
</template>
<script>


export default {
    data(){
        return {
            m_period: 30*24*60*60*1000,
            formData:{},
            contracts: [],
            transactions: [],
            cars: [],
            clients: [],
            rows: [],
            confirmLoading: false,
            visible: false,
            ths:[
                "№",
                "Клиент",
                "Авто",
                "Номер авто",
                "Ежемесячная выплата",
            ],
        }
    },
    computed: {
        maxContractsLength() {
            let num = 0
            this.rows.map( item => {
                    if(parseInt(item.period) > num) num = parseInt(item.period)
            })
            return num;
        }
    },
    methods: {
        empty(){
            console.log('u')
        },
        selectClient(value) {
            this.contracts.map(async item => {
                if(item.client == value) this.formData.client_name = item.surname+ ' ' +item.name;
            })
          this.formData.contract = value;
        },
        async getContracts (){
            let res = await this.axios.get(this.$url+'/get/contracts');
            this.contracts = res.data;
        },
         async getTransactions (){
            let res = await this.axios.get(this.$url+'/get/transactions');
            console.log(res.data)
            this.transactions = res.data;
        },
        async getTable (){
            let res = await this.axios.get(this.$url+'/get/table');
            console.log(res.data)
            this.rows = res.data;
        },
        async postTransaction(){
            this.formData.data = new Date();
          this.confirmLoading = true
          let res = await this.axios.post(this.$url+'/post/transaction', this.formData);
            console.log(res.data)
            this.visible = false
            this.confirmLoading = true
            this.getContracts();
            alert('Транзакция проведена успешно')
        }
    },
    mounted(){
        this.getContracts()
        this.getTable()
        this.getTransactions();
    }
}
</script>
<style scoped>

.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>