<template lang="pug">
    div
        br
        a-modal(title="Транзакция"
            :visible="visible"
            @ok="postTransaction"
            :confirmLoading="confirmLoading"
            @cancel="visible=false"
        )
            .form
                a-select(
                showSearch
                defaultValue="Выберите клиента"
                optionFilterProp="children"
                :filterOption="filterOption"
                style="width: 200px"
                @change="selectClient")
                    a-select-option(v-for="client in contracts" :key="client._id") {{client.client_name}} {{client.car_name}}
                br
                br
                //- a-select(
                //- defaultValue="Вид оплаты"
                //- style="width: 200px"
                //- @change="empty")
                //-     a-select-option(v-for="client in 1" key="За план") За план
                a-button(disabled) За план
                br
                br
                //- a-select(
                //- defaultValue="Метод оплаты"
                //- style="width: 200px"
                //- @change="empty")
                //-     a-select-option(v-for="client in 1" key="Наличные") Наличные
                a-button(disabled) Наличные
                br
                br
                a-input.input(placeholder="Сумма оплаты", v-model="formData.sum")
                span Дата оплаты
                a-input.input(placeholder="Дата оплаты",type="date" v-model="formData.pay_date")
        a-button(type="primary" @click="visible=true") Транзакция
        br 
        br
        span
            table#desc(style="width:100%;min-width: 1000px;")
                tr 
                    th(v-for="(th, index) in ths" :key="index", style="") {{th}}
                tr(v-for="transaction in transactions" :key="transaction._id")
                    td {{transaction.client_name}}
                    td {{transaction.car}} {{transaction.car_name}} 
                    td {{transaction.sum}}
                    td {{new Date(transaction.pay_date).toLocaleString('ru-RU',{dateStyle: 'short'})}}
                    td {{new Date(transaction.date).toLocaleString()}}
                    td: a-button(type="danger" @click="deleteTr(transaction)" v-if="user.admin") Удалить
</template>
<script>


export default {
    data(){
        return {
            formData:{},
            contracts: [],
            transactions: [],
            cars: [],
            user: JSON.parse(localStorage.getItem('user')),
            clients: [],
            confirmLoading: false,
            visible: false,
            ths:[
                    "Клиент",
                    "Авто",
                    "Сумма оплаты",
                    "Дата оплаты",
                    "Дата транзакции",
                    // "",
                ],
        }
    },
    methods: {
        filterOption(input, option) {
            return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
        },
        empty(){
            console.log('u')
        },
        selectClient(value) {
            this.contracts.map(async item => {
                if(item._id == value) {
                    this.formData.client_name = item.client_name;
                    this.formData.car         = item.car_name;
                    this.formData.car_num     = item.car_num;
                    this.formData.day         = item.start_day;
                    this.formData.pay         = item.pay;
                };
            })
          this.formData.contract = value;
        },
        async getContracts (){
            let res = await this.axios.get(this.$url+'/get/contracts');
            this.contracts = res.data;
            console.log(this.contracts)
        },
         async getTransactions (){
            let res = await this.axios.get(this.$url+'/get/transactions');
            this.transactions = res.data.reverse();
        },
        async deleteTr(tr) {
            try {
                let res = await this.axios.post(this.$url+'/delete/transaction/'+tr._id, {...tr})
                this.getTransactions();
            } catch(err){
                throw err;
            }
        },
        async postTransaction(){
            this.formData.date = new Date();
            this.confirmLoading = true
            console.log(this.formData)
          let res = await this.axios.post(this.$url+'/post/transaction', this.formData);
            console.log(res.data)
            this.visible = false;
            this.confirmLoading = false
            this.getContracts();
            this.getTransactions();
            alert('Транзакция проведена успешно')
        }
    },
    mounted(){
        this.getContracts()
        this.getTransactions();
    }
}
</script>
<style scoped>

.form > input {
    margin-bottom: 10px;
}
table > td, table th {
    vertical-align: middle;
    border: 1px solid black!important;
}
table th{ padding:20px; border:1px solid black!important; }
#desc {
  width: 15em;
  border-collapse: collapse;
}
th {
    background-color: whitesmoke;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
    padding: 1em;
  }
td {
    border: 1px solid black;
    padding: 4px;
  }
</style>