<template>
    <a-tooltip
        :trigger="['focus']"
        placement="topLeft"
        overlayClassName="numeric-input"
    >
        <span slot="title" v-if="value" class="numeric-input-title">
        {{value !== '-' ? formatNumber(value) : '-'}}
        </span>
        <template slot="title" v-else>
            {{title}}
        </template>
    </a-tooltip>
</template>
<script>
export default {
    name: 'tooltip',
    props: {
        value: [String, Number],
        title: String
    }
}
</script>