<template lang="pug">
  #app
    a-menu(v-model="current" mode="horizontal")
      a-menu-item(key="clients")
        router-link(to="/clients") Клиенты
      a-menu-item(key="cars") 
        router-link(to="/cars") Автомобили
      //- a-menu-item(key="table")
      //-   router-link(to="/table") График погашения
      a-menu-item(key="contracts") 
        router-link(to="/contracts") Контракты
      a-menu-item(key="transactions") 
        router-link(to="/transactions") Платежи
      a-menu-item(key="big-table") 
        router-link(to="/big-table") Общая таблица
      a-menu-item(key="logout" @click="logout()" v-if="auth") Выйти 
    a-locale-provider(:locale="ru_RU")
      router-view
</template>
<script>
import ru_RU from 'ant-design-vue/lib/locale-provider/ru_RU';
export default {
  data(){
    return {
      current: [],
      ru_RU: ru_RU,
      auth: localStorage.getItem('auth')
    }
  },
  methods: {
    logout(){
      localStorage.removeItem('auth')
      localStorage.removeItem('user')
      this.$router.push('/login')
    }
  }
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
